atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
Click==7.0
enum34==1.1.6
Flask==1.0.2
Flask-WTF==0.14.2
funcsigs==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
pathlib2==2.3.3
pbr==3.1.1
peewee==3.8.2
pluggy==0.8.1
py==1.7.0
pytest==4.1.1
scandir==1.9.0
six==1.11.0
stevedore==1.28.0
typing==3.6.6
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
Werkzeug==0.14.1
WTForms==2.2.1
