.minerals__item {
   -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.glossary li {
    display: inline-block;
    padding-right: 0.47em;

}

.glossary li a:active {
    display: inline-block;
    padding-right: 0.47em;
    font-weight: bold;
}