{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block title %} detail {% endblock %}

{% block content %}


    <div class=" mineral__container">
        <h1 class="mineral__name">{{ mineral.name }}</h1>
    <div class="mineral__image-bg">
        <img class="mineral__image" src='{% static 'trace_minerals/images/' %}{{ mineral.name }}.jpg'>
    <p class="mineral__caption">{{ mineral.image_caption }} </p>
    </div>
    <div class="mineral__table-container">
        <table class="mineral__table">
            {% for field, val in mineral %}
                 {% if field not in "ID name image filename image caption trace_minerals/images/" and val %}
            <tr>
                <td class="mineral__category">{{ field|title }}</td>
                <td>{{ val|safe|escape }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>


    </div>
    </div>
{% endblock %}