{% extends 'layout.html' %}
{% load static from staticfiles%}
{% block title %}index{% endblock %}
{% block static %}
 <link rel ='stylesheet' href="{% static 'trace_minerals/css/trace_minerals.css' %}">
{% endblock %}

{% block content %}
    <ul class="minerals__container grid-75 float-left">
    {% for mineral in minerals %}
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'trace_minerals:trace_minerals_detail' pk=mineral.pk %}">{{ mineral.name }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}