<!DOCTYPE html>
{% load static from staticfiles %}
{% load minerals_extras %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">


        {% block static %}{% endblock %}
    </head>

<body>

    <div class="bounds">
        <div class="grid-65">
            <a href="{% url 'trace_minerals:trace_minerals_index' %}">
                <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
                    <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
                    <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
                    <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
                </svg>
                <h1 class="logo__name text-centered">Macky's Minerals</h1>
            </a>
            <p class="logo__text text-centered">They're not rocks!</p>
        </div>


        <div class="  grid-100 ">

            {% glossary_filter %}
            <section class="grid-25 float align-left">
            <form action="{% url 'trace_minerals:search' %}" method="GET">
                <ul class="menu">

                    <li><label for="search for minerals">Search by name
                        <input type="search" name="q">
                    </label></li>
                    <li>
                        <button type="submit" class="secondary small button">search</button>
                    </li>
                </ul>
            </form>
            <nav>
                <ul>

                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Silicates">Silicates</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Oxides">Sulfates</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Sulfates">Sulfates</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Sulfides">Sulfides</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Carbonates">Carbonates</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Halides">Halides</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Sulfosalts">Sulfosalts</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Phosphates">Phosphates</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Borates">Borates</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Organic Minerals">Organic
                        Minerals</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Arsenates">Arsenates</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Native Elements">Native
                        Elements</a></li>
                    <li><a href="{% url 'trace_minerals:trace_minerals_group' %}?group=Other">Other</a></li>
                </ul>
            </nav>

        </section>
            {% block content %}
            {% endblock %}

        </div>
    </div>
</body>
</html>